.mall {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  overflow: auto;
  .bar {
    display: flex;
    justify-content: space-around;
    font-size: .7rem;
    color: #58b7ef;
    background: white;
    border-bottom: 2px solid white;
    height: 2.2rem;
    line-height: 2.2rem;
    .item {
      padding: 0 .2rem;
    }
    .active {
      color: #3aa6e7;
      font-size: .9rem;
      border-bottom: 2px solid #3aa6e7;
    }
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.7;
    .item {
      width: 48%;
      margin: 1%;
      background: white;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 40vw;
      }
      .text{
        display: flex;
        align-items: center;
        padding: 0 .6rem;
      }
      .title {
        color: #333;
        font-size: .65rem;
        //padding: 0 2.2rem 0 .6rem;
        position: relative;
        overflow: auto;
        //width: rem;
        white-space:nowrap;
        height: 1rem;
        width: 10px;
        flex: 1;
      }
      .time{
        //position: absolute;
        right: 0.5rem;
        color: #757575;
        font-size: .5rem;
        top: 1px;
      }
      .amount {
        font-size: .75rem;
        color: #e51c23;
        padding: 0 .6rem;
        line-height: 2;
      }
    }
  }
  .record{
    position: fixed;
    bottom: 4rem;
    right: .5rem;
    background: url(/sui_assets/img/mall/record.svg) center no-repeat/cover;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    text-align: center;
    border-radius: 50%;


  }
}
