.more-css {
  background: white;
  padding: 1px 0 1rem;
  .card-grey {
    background-color: #f0f9fc;
    padding: 1px 10%;
    border-bottom: .35rem solid #ebebeb;
    .card-bg {
      background-image: url(/sui_assets/img/card/bg.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      height: 8.5rem;
      margin: .5rem 0;
      color: #fff;
      border-radius: 10px;
      width: 100%;
      position: relative;
      .card-content {
        padding: 15px;
        text-shadow: 1px 1px rgba(0, 0, 0, .5);
        font-weight: 600;
        position: relative;
        font-size: .7rem;
        .avatar {
          margin-right: 10px;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          vertical-align: middle;
        }
        .rule {
          background: url('/sui_assets/img/coupon/rule.svg') no-repeat;
          padding: 12px 36px;
        }
      }
    }
  }
  .separate {
    padding: .35rem;
    background: #ebebeb;
  }

  .code {
    margin: 0 .6rem;
  }
  .padded {
    border-bottom: 1px solid #e1e1e1;
    padding: .8rem 0;
    .orange-lg {
      font-size: .8rem;
      color: #ff6966;
      margin: 0 4px;
    }
    .set-title {
      padding-left: .2rem;
      .content-title {
        text-overflow: ellipsis;
        font-size: .8rem;
        padding: .4rem 0 .6rem;
        font-weight: 600;
      }

    }
    .row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      .col-66 {
        margin: 0 -4px 0 4px;
        flex: 1;
        width: 40%;
        .coupon-content {
          box-shadow: 0 0 2rem #e1e1e1;
          position: relative;
          margin: .5rem 0 1rem;
          .coupon-left {
            padding: .5rem .5rem 0;
            -webkit-box-flex: 1.6;
            -ms-flex: 1.6;
            flex: 1.6;
            -webkit-flex: 1.6;
            width: 60%;
            .text-grey {
              margin-left: -1.2rem;
              margin-top: 0;
              margin-right: 5px;
              text-align: left;
              color: #828282;
              font-size: .5rem;
              padding-top: 5px;
              li {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                margin-left: 2rem;
              }
              li:before {
                content: "●";
                position: absolute;
                left: .8rem;
              }
            }
          }
          .coupon-right {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -webkit-flex: 1;
            -ms-flex-item-align: baseline;
            align-self: baseline;
            -webkit-align-self: baseline;
            position: relative;
            background: #EEE8DE;
            min-height: 6rem;
            color: #b79f72;
            padding-left: 10px;
            background-clip: content-box;
            border-left: 1px dashed;
            text-align: center;
            .current-amount {
              color: #b79f72;
              font-size: 1.2rem;
              clear: both;
              margin-top: 1.7rem;
            }
            .amount {
              font-size: .6rem;
              margin-top: 1px;
            }
          }
        }
        .square {
          background: #e1e1e1;
          padding: 5px;
          margin: 10px;
          display: inline-block;
        }
        .card1 {
          margin: .5rem 0 1rem;
          border-radius: 5px;
          box-shadow: 0 0 2rem #e1e1e1;
          .charge-content {
            margin: 0 .5rem;
            padding: .5rem 0;
            border-bottom: 1px solid #e1e1e1;
            .row {
              display: -webkit-box;
              display: -webkit-flex;
              display: flex;
              -webkit-box-pack: justify;
              -webkit-box-align: center;
              -webkit-align-items: center;
              align-items: center;
            }
            .col-33 {
              width: 24%;
            }
            .col-40 {
              width: 40%;
              margin: 0;
            }
            .name:before {
              content: "充";
              display: block;
            }
            .gift {
              background: url(/sui_assets/img/index.svg) 0 -182px no-repeat;
              background-size: 172px;
              height: 28px;
              width: 25%;
              margin: 0;
            }
            .gift1 {
              background: url(/sui_assets/img/index.svg) 0 -246px no-repeat;
              background-size: 172px;
              height: 28px;
              width: 25%;
              margin: 0;
            }
            li {
              list-style-type: disc;
              display: list-item;
            }
          }
          .text-center {
            text-align: center;
            padding: .3rem 0;
          }
        }
        .list-block {
          margin: 0 0 .8rem;
          font-size: .7rem;
          ul {
            padding: 0;
            margin: 0;
            position: relative;
            .item-content {
              font-size: .7rem;
              min-height: 2.5rem;
              display: -webkit-box;
              display: -webkit-flex;
              display: flex;
              -webkit-box-pack: justify;
              -webkit-box-align: center;
              -webkit-align-items: center;
              align-items: center;
              margin: 0;
              .item-media {
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-shrink: 0;
                -ms-flex: 0 0 auto;
                -webkit-flex-shrink: 0;
                flex-shrink: 0;
                -webkit-box-lines: single;
                -moz-box-lines: single;
                -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap;
                box-sizing: border-box;
                -webkit-box-align: center;
                -webkit-align-items: center;
                align-items: center;
                padding-top: .35rem;
                padding-bottom: .4rem;
                padding-right: .75rem;
                .space {
                  width: 2.5rem;
                  height: 2.5rem;
                }
              }
              .item-inner {
                .text-grey {
                  color: #828282;
                  font-size: .5rem;
                  padding-right: .8rem;
                  line-height: 3;
                }
              }

            }
          }
        }
      }
      .col-33 {
        margin-bottom: 1rem;
        width: 5rem;
        text-align: right;
        .btn-green-light {
          height: 1.8rem;
          line-height: 1.7rem;
          background: #fff;
          color: #5fa5a1;
          border-radius: 3px;
          border: 1px solid;
          font-size: .65rem;
          padding: 0 10px;
        }
        .text-grey {
          color: #828282;
          font-size: .5rem;
          text-align: right;
          padding-right: .8rem;
          line-height: 3;
        }
      }
    }
  }

  .coupon-content {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    padding: .3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    font-size: .7rem;
  }
  .content-title:before {
    content: "";
    font-size: .7rem;
    color: white;
    padding: .25rem .3rem;
    margin-right: .3rem;
  }
  .content-desc {
    padding-left: .3rem;
    margin: .3rem 0 0;
    border-left: 2px solid;
    font-size: .75rem;
  }
  .DISCOUNT .content-desc {
    border-color: #8FC0FF;
  }

  .SPECIAL_PRICE .content-desc {
    border-color: #96D8C9;
  }

  .COUPON .content-desc {
    border-color: #A3A1EF;
  }

  .POINT .content-desc {
    border-color: #a1d0ef;
  }

  .SPECIAL_PRICE .content-title:before {
    content: "特";
    background: #96D8C9;
  }

  .COUPON .content-title:before {
    content: "返";
    background: #A3A1EF;
  }

  .DISCOUNT .content-title:before {
    content: "折";
    background: #8FC0FF;
  }

  .POINT .content-title:before {
    content: "积";
    background: #a1d0ef;
  }

  .SPENDAS .content-title:before {
    content: "抵";
    background: #7AD7C1;
  }

  .LIMITREDUCE .content-title:before {
    content: "减";
    background: #A3DA7A;
  }

  .MEMBERUPGRADE .content-title:before {
    content: "会";
    background: black;
    color: #E1C951;
  }

  .CHARGE .content-title:before {
    content: "充";
    color: #E1C951;
    background: black;
  }

  .EXCHANGE .content-title:before {
    content: "兑";
    color: #E1C951;
    background: black;
  }

  .COUPONFREE .content-title:before {
    content: "券";
    color: #E1C951;
    background: black;
  }

  .GAME .content-title:before {
    content: "爆";
    color: white;
    background-color: #DC8122;
  }

  .GAME .content-title img {
    position: absolute;
    margin-top: -16px;
    margin-left: -27px;
    width: .8rem;
  }

  .SETMEAL .content-title:before {
    content: "餐";
    color: white;
    background-color: #ffa400;
  }

  .SETMEAL .content-title img {
    position: absolute;
    margin-top: -16px;
    margin-left: -27px;
    width: .8rem;
  }

}
