.payment .order {
  text-align: center;
  color: #333333;
  padding: 0 .8rem;
  padding-top: 1rem; }
  .payment .order .logo {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle; }
  .payment .order .text-lg {
    font-size: .9rem;
    vertical-align: middle;
    margin-left: .5rem; }
  .payment .order .text-md {
    font-size: .8rem;
    padding: 1rem 0; }
  .payment .order .text-xl {
    font-weight: 700;
    font-size: .9rem; }
  .payment .order .text-bold {
    font-weight: bold; }
  .payment .order .border {
    border-top: 1px solid #d8d8d8;
    padding: .5rem 0;
    font-size: .7rem; }
  .payment .order .award {
    overflow: hidden; }
    .payment .order .award .left {
      vertical-align: top;
      float: left;
      width: 4rem;
      padding-top: .1rem;
      text-align: left; }
    .payment .order .award .left + .left {
      width: auto; }
    .payment .order .award .right {
      margin-left: calc(100% - 3.6rem);
      text-align: right; }
      .payment .order .award .right .button {
        border: 1px solid;
        border-radius: 3px;
        font-size: .7rem;
        line-height: 1.2rem;
        height: 1.2rem;
        text-align: center;
        color: #ff5238;
        margin: 0 auto;
        width: 3.6rem; }
.payment .benefit.i-flex {
  justify-content: space-around;
  -webkit-justify-content: space-around; }
.payment .benefit {
  background: whitesmoke;
  text-align: center; }
  .payment .benefit .title {
    color: #8c8c8c;
    font-size: .6rem;
    padding: .5rem;
    position: relative; }
  .payment .benefit .title:before, .payment .benefit .title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0 .8rem;
    width: 2rem;
    height: 1px;
    background: #dedede; }
  .payment .benefit .activity:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1; }
  .payment .benefit .activity {
    height: 6rem;
    color: white;
    margin-bottom: .5rem;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center; }
    .payment .benefit .activity .text-red {
      padding: 1.1rem 0 .5rem;
      color: white;
      font-size: 18px; }
    .payment .benefit .activity .addon {
      text-align: center;
      position: absolute;
      bottom: .5rem;
      left: 0;
      right: 0;
      font-size: .5rem; }
    .payment .benefit .activity .button {
      background: #ff5238;
      width: 6.6rem;
      line-height: 1.2rem;
      height: 1.2rem;
      text-align: center;
      margin: auto;
      position: absolute;
      bottom: 1.5rem;
      left: 0;
      right: 0; }
.payment .modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; }
  .payment .modal .modal-inner {
    width: 15.5rem;
    position: fixed;
    z-index: 11000;
    left: 50%;
    margin-left: -7.75rem;
    margin-top: 0;
    top: 9%;
    text-align: center;
    border-radius: .35rem;
    animation: show-modal .5s;
    -webkit-animation: show-modal .5s;
    color: #3d4145; }
    .payment .modal .modal-inner .close {
      position: absolute;
      top: -.4rem;
      right: -1rem;
      z-index: 1; }
    .payment .modal .modal-inner .close:after {
      content: "";
      background: url(/sui_assets/img/vipModal/close.svg) center no-repeat;
      padding: 1rem; }
    .payment .modal .modal-inner .modal-content {
      background-color: #D74E4E;
      position: relative;
      color: #ffffff;
      border-radius: 5px;
      padding: 1px 0; }
      .payment .modal .modal-inner .modal-content input::-webkit-input-placeholder {
        color: #A9A9A9;
        font-size: 13px; }
      .payment .modal .modal-inner .modal-content .top {
        background: url(/sui_assets/img/addVip/oval.png) bottom center no-repeat/contain;
        background-color: #D15353;
        padding: .75rem 0 2rem; }
        .payment .modal .modal-inner .modal-content .top .card-text {
          background: url(/sui_assets/img/payment/notice.png) top center no-repeat;
          background-size: 3rem;
          padding-top: 3.5rem;
          line-height: 2;
          font-size: .9rem; }
        .payment .modal .modal-inner .modal-content .top .overflow {
          max-height: 6rem;
          overflow: auto; }
          .payment .modal .modal-inner .modal-content .top .overflow .coupon {
            background: url(/sui_assets/img/payment/border.png) center no-repeat;
            height: 2.2rem;
            line-height: 2.2rem;
            width: 7rem;
            color: #f76260;
            font-size: .75rem;
            background-size: contain;
            margin: .5rem auto; }
      .payment .modal .modal-inner .modal-content .modal-phone {
        padding: 1rem;
        margin: auto .35rem; }
        .payment .modal .modal-inner .modal-content .modal-phone input {
          border-width: 0;
          line-height: 2rem;
          height: 2rem;
          border-radius: 5px;
          width: 100%;
          padding: 0 .5rem;
          font-size: .75rem;
          color: #000000;
          background-color: #ffffff;
          margin: .25rem auto; }
        .payment .modal .modal-inner .modal-content .modal-phone .input-text {
          position: relative;
          top: -2rem;
          right: .3rem;
          padding: .2rem .4rem;
          color: #be4949;
          background-color: #ffee7a;
          border-radius: 3px;
          float: right;
          font-size: .7rem; }
        .payment .modal .modal-inner .modal-content .modal-phone .v-button {
          background-image: linear-gradient(to bottom, #FAD961, #F7BD1C);
          height: 2rem;
          font-size: .9rem;
          line-height: 2rem;
          text-align: center;
          border-radius: 25px;
          color: #be4949;
          clear: both;
          position: relative;
          top: -.5rem;
          letter-spacing: 3px; }
@keyframes show-modal {
  from {
    opacity: 0;
    transform: translate(0, -150%);
    -webkit-transform: translate(0, -150%); }
  to {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0); } }

/*# sourceMappingURL=payment.css.map */
