$grey-blue: rgb(107, 162, 186);
$warm-grey: rgb(156, 156, 156);

@keyframes opacity {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.opacity {
  animation: opacity 1s;
  animation-direction: alternate; //反向播放
}

@keyframes zoom {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.zoom {
  animation: zoom .5s;
  animation-direction: alternate;
  transform-origin: 95% 30px;
}

.selfpay {
  background: rgb(240, 240, 240);
  min-height: 100vh;
  .second-pay {
    background: white;
    padding: 1rem .8rem;
    .other-pay {
      border-top: 1px solid rgb(216, 216, 216);
      color: rgb(51, 51, 51);
      font-size: .9rem;
      .state {
        background: linear-gradient(to right, #ffa31c, #ff5060);
        border-width: 0;
        color: #ffffff;
        text-align: left;
        margin-top: 1rem;
        padding: .2rem .5rem .2rem .2rem;
        line-height: 2rem;
        font-size: .7rem;
        img {
          height: 2rem;
          vertical-align: middle;
        }
      }
      .text {
        padding: 1rem 0 .7rem;
        text-align: center;
      }
      #mycode {
        width: 160px;
        margin: auto;
        border: 1px solid #333333;
        padding: 4px;
        box-sizing: content-box;
      }
    }
    .avatar {
      width: 34px;
      height: 34px;
      border-radius: 2px;
      vertical-align: middle;
    }
    .staff {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      vertical-align: middle;
      display: inline-block;
      margin: auto .5rem;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: 1rem;
    }
    .staff:after {
      content: "";
      background: #FF392E;
      border-radius: 50%;
      display: block;
      width: 10px;
      height: 10px;
      margin-left: 26px;

    }

  }

  .btn-green {
    color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
    border: 1px solid #FF392E;
    background: #FF392E;
    line-height: 2.5rem;
    height: 2.5rem;
    font-size: 0.9rem;
    text-align: center;

  }

  //old
  .table {
    //color: #828282;
    display: inline-block;
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-inline-box;
    vertical-align: middle;
    font-size: 18px;
    line-height: 40px;
    color: rgb(140, 140, 140);
    padding-bottom: 1rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -5px;
  }

  .ad-show {
    border: 1px solid #e8e8e8;
    color: #8b8b8b;
    overflow: auto;
    line-height: 2;
    background: white;
    .cbg {
      height: 8rem;
      background-size: cover;
    }
    .pull-left:before {
      content: "推荐";
      display: inline-block;
      width: 30px;
      line-height: 15px;
      border: 1px solid;
      color: #FF9393;
      font-size: 10px;
      text-align: center;
      font-weight: normal;
      margin-right: .5rem;
      vertical-align: text-bottom;
    }
    .pull-left {
      margin: .4rem;
      color: #788486;
      font-weight: bold;
      float: left;
      font-size: .7rem;
    }
    .pull-right {
      /*color: #5d6993;*/
      color: #ffffff;
      background: #EC1700;
      margin: .5rem;
      font-size: .6rem;
      border-radius: 10px;
      width: 63px;
      text-align: center;
    }

  }

  .e-black {
    margin-bottom: 4rem;
    position: relative;
  }

  .float {
    position: absolute;
    top: 21px;
    right: 20px;
    width: 77px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 1px solid #ffffff;
  }

  .over-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10352;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    padding: .7rem .8rem .9rem .6rem;
    box-sizing: border-box;
    .swiper-container {
      height: 75%;
      .swiper-wrapper {
        height: 93%;
      }
    }
    .coupons-item {
      width: 79%;
      margin: auto;
      background: white;
      border-radius: 10px;
      padding-bottom: 1rem;
      height: 96%;
      overflow: auto;
      .coupon-item {
        object-fit: contain;
        background: url("/sui_assets/img/selfPay/bg-modal.png") 0 -1px no-repeat;
        background-size: 100% auto;
        .big-title {
          font-size: 1rem;
          line-height: 2.2;
          padding: 2rem 0 .5rem;
          color: #ffffff;
          font-weight: bold;
        }
        .blue-border {
          width: 112px;
          border-radius: 3px;
          border: solid 1px #1b8ff3;
          margin: auto;
          padding: 5px;
          background: #ffffff;
          color: #000000;
          img {
            margin: auto;
          }
        }
        .coupons-detail {
          font-size: .6rem;
          padding: 1rem;
          .a4001 + .item, .item:first-child {
            flex-grow: 1;
            -webkit-flex-grow: 1;
          }
          .item {
            margin: .4rem;
            clear: both;
            text-align: left;
            .left {
              float: left;
              width: 3rem;
              text-align: right;
              color: #aaa;
            }
            .right {
              margin-left: 3.1rem;
              color: #000;
            }
          }
        }
      }
    }
    .md-close {
      position: absolute;
      left: 0;
      right: 0;
    }
    .md-close:before {
      content: "";
      background: url(/sui_assets/img/pay/close-white.svg) center no-repeat;
      padding: 16px;
      left: 0;
      right: 0;
      width: 1px;
      margin: auto;
      position: absolute;
      top: 1rem;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }

  img + .over-content {
    height: 93%;
  }

  img + .over-content .overlay-detail {
    height: 81%;
  }

  .over-content {
    background: #ffffff;
    border-radius: 5px;
    height: 100%;
    overflow: auto;
    position: relative;

  }

  .m-bg {
    background-image: url('/sui_assets/img/coupon/bg1.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 7rem;
    color: #ffffff;
    position: relative;
  }

  .m-bg .m-title {
    background: rgba(0, 0, 0, 0.8);
    padding: 0 .5rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .m-content {
    font-size: .5rem;
    padding: .5rem 0 .3rem;
  }
  //
  //.m-detail {
  //  font-size: .5rem;
  //  color: #818181;
  //  padding: .3rem 0 .7rem;
  //}

  .icon3 {
    background: url("/sui_assets/img/selfPay/icons.svg") center no-repeat;
    background-position: 0 -45px;
    padding: 5px 10px;
    margin-left: .2rem;
    margin-right: .6rem;
  }

  .left-img {
    width: 3.6rem;
    height: 3rem;
    margin: .4rem .5rem .6rem 0;
    padding: 0;
    float: left;
  }

  .left-img img {
    width: 100%;
    height: 100%;
  }

  .d-detail {
    padding: .4rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .reduce {
    background: url("/sui_assets/img/plusicon.svg") center no-repeat;
    background-position: 0 3px;
    padding: 7px 12px;
    background-size: 23px;
  }

  .plus {
    background: url(/sui_assets/img/plusicon.svg) center no-repeat;
    padding: 6px 12px;
    background-position: 0 -32px;
    display: inline;
    background-size: 23px;
  }

  .current {
    padding: 0 .5rem;
  }

  .choose {
    background: #000000;
    width: 4rem;
    float: left;
    height: 100%;
    color: #ffffff;
    border-radius: 5px;
    line-height: 2.2rem;
    text-align: center;
    font-size: .8rem;
    position: relative;
  }

  .choose .number {
    position: absolute;
    top: -.4rem;
    right: -.5rem;
    border-radius: 50%;
    background: #e75040;
    height: 1.2rem;
    line-height: 1.2rem;
    width: 1.2rem;
  }

  .number:empty {
    display: none;
  }

  .check {
    background: #ff4d63;
    border-radius: 5px;
    line-height: 2.2rem;
    text-align: center;
    margin-left: 4.8rem;
    font-size: .8rem;
    color: #ffffff;
    height: 100%;
  }

  .dish-item {
    clear: both;
  }

  .overlay-title {
    font-size: .8rem;
    padding: 1rem 0 .8rem;
  }

  .overlay-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5rem .5rem;
    background: #ffffff;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.11);
  }

  .overlay-detail {
    height: 86%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
  }

  .border-round {
    color: #5b5b5b;
    font-size: .6rem;
    padding-bottom: .5rem;
  }

  .border-round:before {
    content: "";
    background: #5b5b5b;
    width: 4rem;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5rem;
  }

  .border-round:after {
    content: "";
    background: #5b5b5b;
    width: 4rem;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5rem;
  }

  .dish-item.active {
    background: #e8f8ff;
  }

  .dish-item, .meal-item {
    padding: 0.5rem 2.2rem 1rem;
    text-align: left;
    overflow: auto;
    .amount {
      font-size: .5rem;
      text-decoration: line-through;
      padding-left: 4px;
    }
  }

  .overlay-title .close:before {
    content: "";
    float: right;
    background: url(/sui_assets/img/selfPay/close.svg) center no-repeat;
    padding: 17px;
    position: absolute;
    top: .1rem;
    right: .5rem;
  }

  .modal-overlay-visible {
    z-index: 10370;
  }

  .addon2 {
    border-radius: 3px;
    background: rgba(255, 255, 255, .2);
    color: white;
    font-size: .5rem;
    line-height: 1.1rem;
    width: 5rem;
    text-align: center;
    position: absolute;
    right: 2.3rem;
    top: .3rem;
  }

  .text-orange {
    color: #e75040;
  }

  .meal-pic {
    background: url(/sui_assets/img/selfPay/edit.svg) 93% center no-repeat;
    text-align: left;
    height: 49px;
    position: relative;
    padding: 2px 5px;

  }

  .meal-pic img {
    width: 66px;
    height: 45px;
    vertical-align: middle;
  }

  .check-meal-border {
    background: #E0F5FF;
    color: #009EFF;
    border: 1px solid #7BBDDE;
    line-height: 26px;
    font-size: .55rem;
    text-align: center;
    border-radius: 9px;
    width: 13.5rem;
    margin: 1rem auto;
  }

  .label1 {
    left: 0;
    right: 0;
    bottom: 1.5rem;
    border-radius: 2px;
    font-size: 12px;
    margin: auto;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    color: #009EFF;
    vertical-align: middle;
  }
  .qrcode{
    width: 88px;
    background: url(/sui_assets/img/selfPay/qrcode.png) center no-repeat/contain;
    padding: 8px 10px 43px;
    position: fixed;
    right: .6rem;
    bottom: 4.5rem;
    img{
      width: 100%;
    }
  }

  .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;

    .flower-bg {
      height: 100vh;
      animation: show-modal2 .5s;
      animation-direction: alternate;
      //height: calc(100vh - 55px);
      background: rgba(0, 0, 0, .7);
      //.close {
      //  background: url(/sui_assets/img/selfPay/sprite.png) center no-repeat;
      //  background-position: -6px -150px;
      //  padding: 14px;
      //  background-size: 58px;
      //  margin-top: .5rem;
      //  margin-right: .5rem;
      //  position: absolute;
      //  right: 0;
      //}
      .header {
        font-size: .9rem;
        border-bottom: 1px solid rgb(217, 217, 217);
        height: 3rem;
        line-height: 3rem;
        position: relative;
        .pull-right {
          background: url(/sui_assets/img/selfPay/sprite.png) center no-repeat;
          background-position: 0 -153px;
          position: absolute;
          right: 1rem;
          top: 1rem;
          padding: 14px;
          background-size: 57px;
        }
        .back {
          background-position: 8px -303px;;
        }
        .pull-left {
          color: #6ba2ba;
          font-size: 10px;
          text-decoration: underline;
          position: absolute;
          left: .8rem;
          top: 0;
        }
      }

      .flower {
        //height: 84%;
        background: #ffffff;
        position: absolute;
        bottom: 30px;
        left: .8rem;
        right: .8rem;
        top: 30px;
        color: rgb(51, 51, 51);
        .content {
          padding: 1rem 2.3rem;
          text-align: left;
          .avatar {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            vertical-align: middle;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto 8px;
          }
          .nickname {
            font-size: .8rem;
            vertical-align: middle;
            width: calc(100% - 57px);
            //max-width: 4.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
          }
          .thanks {
            font-size: .7rem;
            padding-top: .5rem;
          }
          .staff {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -1.5rem;
            .item {
              width: 46%;
              border-radius: 5px;
              border: 1px solid $warm-grey;
              height: 3.2rem;
              line-height: 3.2rem;
              margin-bottom: 1rem;
            }
            .item:active {
              background: $grey-blue;
              color: white;
            }
          }
          .labels {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 1.2rem 0;
            .label {
              width: 4.7rem;
              height: 1.5rem;
              line-height: 1.55rem;
              border-radius: 20.8px;
              box-shadow: 0 0 1px 1px #9c9c9c inset;
              color: rgb(156, 156, 156);
              flex: 1;
              margin: 0 .7rem;
              max-width: 42%;
              .up {
                background: url(/sui_assets/img/selfPay/sprite.png) center no-repeat;
                background-size: 55px;
                background-position: -2px -69px;
                display: inline-block;
                padding: 10px 9px;
                vertical-align: middle;
                margin-right: 5px;
              }
              .down {
                background-position: -2px -21px;
              }
            }
            .active {
              color: white;
              background: $grey-blue;
              box-shadow: none;
              .up {
                background-position: -2px -92px;
              }
              .down {
                background-position: -2px -44px;
              }
            }
          }
          .decs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .dec {
              margin: .25rem 3%;
              width: 43%;
              height: 1.4rem;
              line-height: 1.45rem;
              border-radius: 5px;
              color: rgb(156, 156, 156);
              box-shadow: 0 0 1px 1px #9c9c9c inset;
            }
            .active {
              color: white;
              background: $grey-blue;
              box-shadow: none;
            }
          }
        }
        .content1 {
          padding: 1rem 2.3rem 8rem;
          text-align: center;
          overflow: auto;
          height: 100%;
          position: relative;
          .pull-right {
            background: url(/sui_assets/img/selfPay/sprite.png) center no-repeat;
            background-position: 0 -153px;
            position: absolute;
            right: 1rem;
            top: 1rem;
            padding: 14px;
            background-size: 57px;
          }
          .avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            vertical-align: middle;
            //display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto .3rem;
          }
          .nickname {
            font-size: .8rem;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            padding-bottom: .2rem;
          }
          .addon{
            color: #6ba2ba;
            font-size: .5rem;
          }
          .thanks {
            font-size: .7rem;
            padding-top: .5rem;
          }
          .staff {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -1.5rem;
            .item {
              width: 46%;
              border-radius: 5px;
              border: 1px solid $warm-grey;
              height: 3.2rem;
              line-height: 3.2rem;
              margin-bottom: 1rem;
            }
            .item:active {
              background: $grey-blue;
              color: white;
            }
          }
          .labels {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 1.2rem 0 1rem;
            .label {
              width: 4.7rem;
              height: 1.5rem;
              line-height: 1.55rem;
              border-radius: 20.8px;
              box-shadow: 0 0 1px 1px #9c9c9c inset;
              color: rgb(156, 156, 156);
              flex: 1;
              margin: 0 .7rem;
              max-width: 42%;
              .up {
                background: url(/sui_assets/img/selfPay/sprite.png) center no-repeat;
                background-size: 55px;
                background-position: -2px -69px;
                display: inline-block;
                padding: 10px 9px;
                vertical-align: middle;
                margin-right: 5px;
              }
              .down {
                background-position: -2px -21px;
              }
            }
            .active {
              color: white;
              background: $grey-blue;
              box-shadow: none;
              .up {
                background-position: -2px -92px;
              }
              .down {
                background-position: -2px -44px;
              }
            }
          }
          .decs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            //max-height: 6.5rem;
            //overflow-y: auto;
            .dec {
              margin: .25rem 3%;
              width: 43%;
              height: 1.4rem;
              line-height: 1.45rem;
              border-radius: 5px;
              color: rgb(156, 156, 156);
              box-shadow: 0 0 1px 1px #9c9c9c inset;
            }
            .active {
              color: white;
              background: $grey-blue;
              box-shadow: none;
            }
          }
        }
        .behind{
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          background: white;
          .gift {
            padding: 2.1rem 1.5rem 0;
            text-align: center;
            background: url(/sui_assets/img/selfPay/gift.png) center no-repeat;
            height: 5rem;
            background-size: contain;
            margin: -.5rem .5rem 0;
            font-size: .7rem;
            color: white;
            .transform{
              transform: scaleY(1.5);
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              display: -webkit-inline-box;
            }
            .blue-text {
              color: #fcf334;
              //font-size: .6rem;
              font-weight: bold;
              position: relative;
            }
          }
          .submit {
            color: #fff;
            border-radius: 5px;
            background: $grey-blue;
            line-height: 2.2rem;
            height: 2.2rem;
            font-size: 0.8rem;
            text-align: center;
            margin: 0rem .8rem .6rem;
          }
        }
      }
    }
    .flower-close {
      background: $grey-blue;
      height: 2rem;
      line-height: 2rem;
      border-radius: 5px 5px 0 0;
      margin: 0 .8rem;
      color: white;
      font-size: .7rem;
      text-align: left;
      position: relative;
      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
        margin: auto .5rem;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .flower-close:after {
      content: "现在去评价";
      color: $grey-blue;
      font-size: .6rem;
      border-radius: 10px;
      width: 76px;
      height: 1rem;
      line-height: 1rem;
      background: white;
      display: inline-block;
      text-align: center;
      position: absolute;
      right: .5rem;
      top: .5rem;

    }
    .i-flex {
      height: 55px;
      background-color: rgba(250, 250, 250, 0.9);
      box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.11);
      font-size: 10px;
      font-weight: bold;
      line-height: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      clear: both;

      .item {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        position: relative;
        .icon1 {
          background: url("/sui_assets/img/selfPay/ico-coupon.svg") center no-repeat;
        }

        .icon2 {
          background: url("/sui_assets/img/selfPay/ico-sell.svg") center no-repeat;
        }
        .avatar {
          display: block;
          margin: 0 auto;
          border-radius: 50%;
          width: 1.6rem;
          height: 1.6rem;
        }
        span {
          display: block;
          padding: 15px;
        }
      }
    }
  }

  .info {
    background-image: linear-gradient(to bottom, #ff5400, #fc4430);
    border: solid 1px #e44f3f;
    color: #ffffff;
    text-align: center;
    height: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 1.7rem;

  }

  .info:before {
    content: "";
    background: url("/sui_assets/img/selfPay/attention.svg") center no-repeat;
    padding: 15px;
  }

  .indirect {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 35%;
    height: 134px;
    background: rgba(0, 0, 0, .8);
    z-index: 100000;
    border-radius: 5px;
    color: #ffffff;
  }

  .indirect div {
    background: url('/sui_assets/img/selfPay/illus.svg') center no-repeat;
    padding-top: 4rem;
  }

  .label3 {
    background: red;
    font-size: .5rem;
    position: absolute;
    top: -.3rem;
    right: 1rem;
    color: #fff;
    height: .8rem;
    line-height: .9rem;
    padding: 0 8px;
    border-radius: 5px;
    display: inline-block;
  }

  .label2:empty {
    display: none;
  }
  .label2 {
    padding: 10px;
    position: absolute;
    top: -2.5rem;
    right: 0;
    left: 0;
    margin: auto;
    width: 110px;
    height: 56px;
  }

  .new {
    background: url(/sui_assets/img/selfPay/noticer.png) center bottom no-repeat;
    background-size: 160px;
    width: 160px;
    margin-left: -17px;
  }

  .old {
    background: url(/sui_assets/img/selfPay/old1.gif?v=1) center bottom no-repeat;
    background-size: contain;
    width: 125px;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
  .modal-inner {
    width: 15.5rem;
    position: fixed;
    z-index: 11000;
    left: 50%;
    margin-left: -7.75rem;
    margin-top: 0;
    top: 10%;
    text-align: center;
    border-radius: .35rem;
    animation: show-modal .5s;
    -webkit-animation: show-modal .5s;
    color: #3d4145;
    .close {
      position: absolute;
      top: -.4rem;
      right: -1rem;
      z-index: 1;
    }
    .close:after {
      content: "";
      background: url(/sui_assets/img/vipModal/close.svg) center no-repeat;
      padding: 1rem;
    }
  }

  @keyframes show-modal {
    from {
      opacity: 0;
      transform: translate(0, -150%);
      -webkit-transform: translate(0, -150%);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
    }
  }
}

.addVip {
  input::-webkit-input-placeholder {
    color: #A9A9A9;
    font-size: 13px;
  }
  .overflow {
    overflow: auto;
    overflow-x: hidden;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: content-box;
    max-height: 11rem;
    min-height: 8rem;
  }
  .modal-inner:before {
    content: "";
    background: url(/sui_assets/img/addVip/slogan.png) center no-repeat;
    left: 0;
    right: 0;
    top: -0.5rem;
    padding: 24px 0;
    text-align: left;
    display: block;
    position: absolute;
    background-size: 50%;
    z-index: 1;
  }
  .modal-content {
    background: url(/sui_assets/img/addVip/bg.jpg) center no-repeat;
    background-color: red;
    padding-top: 30px;
    position: relative;
    margin-bottom: -1rem;
    color: #ffffff;
    border-radius: 5px;
    padding-bottom: 7px;
    .modal-button {
      border-radius: 30px !important;
      background: #ffdf30;
      color: #640a00;
      margin: auto 1rem;
    }
    .usable {
      background-image: linear-gradient(to left, rgba(244, 40, 54, 0), #b91823 53%, rgba(244, 40, 54, 0));
      color: #fff671;
      font-size: 13px;
      line-height: 3;
    }
    .usable:before {
      content: "";
      background: url(/sui_assets/img/addVip/hui.svg) center top no-repeat;
      padding: 15px 23px;
      vertical-align: middle;
      display: inline-block;
      margin-top: -10px;
    }

    .modal-phone {
      border-radius: 5px;
      background-color: #ACE2FF;
      padding: 1rem;
      position: relative;
      margin: auto .35rem;
      box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .modal-phone input {
      line-height: 2rem;
      height: 2rem;
      border: 1px solid #359BD1;
      border-radius: 5px;
      width: 100%;
      padding: 0 .5rem;
      font-size: .75rem;
      color: #000000;
      box-shadow: inset 0 1px 3px 0 #7CA1B5;
      background-color: #ffffff;
      box-sizing: border-box;
    }

    .modal-phone .input-text {
      position: relative;
      top: -1.5rem;
      padding: .2rem .4rem;
      font-size: .5rem;
      margin: -.2rem .2rem -.5rem;
      color: #fff;
      box-shadow: 0 2px 0 0 #af0812;
      background-color: #ff4955;
      border: 1px solid #b41214;
      border-radius: 3px;
      //width: 80px;
      float: right;
    }

    .modal-phone .v-button {
      background-image: linear-gradient(to bottom, #FAD961, #F7BD1C);
      padding: 0 .25rem;
      height: 2.2rem;
      font-size: .9rem;
      line-height: 2.2rem;
      text-align: center;
      border-radius: 20px;
      color: #640a00;
      margin-top: 1rem;
      letter-spacing: 3px;
    }
    .v-item {
      background: url(/sui_assets/img/addVip/coupon.svg) center top no-repeat;
      color: #000000;
      width: 13rem;
      /*width: 218px;*/
      height: 74px;
      font-size: .75rem;
      display: flex;
      -webkit-display: flex;
      align-items: center;
      margin: .7rem auto 0;
      text-align: left;
      font-weight: 600;
      position: relative;
      .grey {
        color: #b5b5b5;
        font-size: 10px;
        font-weight: 500;
      }
      .left {
        color: #ff2c2c;
        font-size: 28px;
        width: 4.5rem;
        text-align: center;
        .dollar:before {
          content: "￥";
          font-size: 15px;
        }
      }
      .coupon-icon {
        background: url(/sui_assets/img/addVip/icon.png) 1rem center/contain no-repeat;
        background-size: 42px;
        height: 40px;
      }
      .right {
        padding: 0 1.5rem 0 .6rem;
        flex: 1;
        -webkit-flex: 1;
      }
    }
    .todayUsable:after {
      content: "";
      background: url(/sui_assets/img/addVip/tag.svg) center top no-repeat;
      position: absolute;
      padding: 32px 12px;
      background-size: contain;
      right: -10px;
      top: 0;
    }
  }
}

.addVip2 {
  input::-webkit-input-placeholder {
    color: #A9A9A9;
    font-size: 13px;
  }
  .overflow {
    overflow: auto;
    overflow-x: hidden;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: content-box;
    max-height: 11rem;

  }
  .modal-content {
    background-color: #D74E4E;
    position: relative;
    color: #ffffff;
    border-radius: 5px;
    padding: 1px 0;
    .top {
      background: #D15353;
      .card-box {
        width: 9.2rem;
        height: 5.5rem;
        box-shadow: 0 1px 4px 4px rgba(0, 0, 0, .1);
        background-size: cover;
        margin: 1.5rem auto 1rem;
        border-radius: 6px;
      }
      .card-text {
        font-size: .7rem;
        line-height: 2;
        background: url(/sui_assets/img/addVip/oval.png) bottom center no-repeat/contain;
        padding-bottom: 2rem;
      }
    }
    .modal-phone {
      padding: 1rem;
      margin: auto .35rem;
      input {
        border-width: 0;
        line-height: 2rem;
        height: 2rem;
        border-radius: 5px;
        width: 100%;
        padding: 0 .5rem;
        font-size: .75rem;
        color: #000000;
        background-color: #ffffff;
        margin: .25rem auto;
      }
      .input-text {
        position: relative;
        top: -2rem;
        right: .3rem;
        padding: .2rem .4rem;
        color: rgb(190, 73, 73);
        background-color: rgb(255, 238, 122);
        border-radius: 3px;
        float: right;
        font-size: .7rem;
      }
      .v-button {
        background-image: linear-gradient(to bottom, #FAD961, #F7BD1C);
        height: 2rem;
        font-size: .9rem;
        line-height: 2rem;
        text-align: center;
        border-radius: 25px;
        color: rgb(190, 73, 73);
        clear: both;
        position: relative;
        top: -.5rem;
        letter-spacing: 3px;
      }
    }
  }
}

.addVip1 {
  .modal-inner:before {
    content: "";
    background: url(/sui_assets/img/addVip/slogan.png) center no-repeat;
    left: 0;
    right: 0;
    top: -1rem;
    padding: 24px 0;
    text-align: left;
    display: block;
    position: absolute;
    background-size: 50%;
    z-index: 1;
  }
  .modal-content {
    background-color: #D74E4E;
    position: relative;
    color: #ffffff;
    border-radius: 5px;
    padding: 1.5rem 0;
    .top {
      background: #D15353;
      .card-box {
        width: 9.2rem;
        height: 5.5rem;
        box-shadow: 0 1px 4px 4px rgba(0, 0, 0, .1);
        background-size: cover;
        margin: 1.5rem auto 1rem;
        border-radius: 6px;
      }
      .card-line {
        font-size: .7rem;
        line-height: 2;
        background: url(/sui_assets/img/addVip/oval.png) bottom center no-repeat/contain;
        padding-bottom: 2rem;
      }
      .card-text {
        font-size: .9rem;
        line-height: 2;
        padding: 1.9rem 0 3rem;
      }
    }
    .v-button {
      background-image: linear-gradient(to bottom, #FAD961, #F7BD1C);
      height: 2rem;
      font-size: .9rem;
      line-height: 2rem;
      text-align: center;
      border-radius: 25px;
      color: rgb(190, 73, 73);
      letter-spacing: 3px;
      margin: auto 1rem;
    }

  }
}




