.upgrade {
  background: #030200;
  padding-bottom: 1px;
  .bg {
    background: url("/sui_assets/img/upgrade/bg.svg") center top no-repeat;
    padding: 2rem 2rem 4rem;
    background-size: 100%;
    text-align: center;
    min-height: 14rem;
    .level {
      background: url("/sui_assets/img/upgrade/oval-icon.png") center no-repeat/contain;
      padding: 1.5rem;
      position: relative;
      .icon {
        color: white;
        font-size: 30px;
      }
    }
    .up:after {
      content: "";
      background: url("/sui_assets/img/upgrade/raise.svg") center no-repeat/contain;
      padding: 20px;
      animation: run1 1s;
      animation-timing-function: ease-in-out;
      //animation-timing-function: linear;
      animation-iteration-count: infinite;
      //animation-direction: alternate;
      position: absolute;
    }
    @keyframes run1 {
      0% {
        bottom: 1px;
      }
      //20% {
      //  bottom: 5px;
      //}
      100% {
        bottom: 25px;
      }
    }
    .name {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to bottom, #E7D79D, #CAAE64);
      font-size: 1.2rem;
      font-weight: 700;
      border-bottom: 1px solid #CEB36C;
      display: inline-block;
      padding-top: 1rem;
    }
    .addon {
      color: #FCE9D7;
      font-size: 1.4rem;
      padding: 1.5rem 0;
      font-weight: bold;
    }
  }
  .box1 {
    background: url(/sui_assets/img/upgrade/title1.svg) center top no-repeat;
    padding-top: 2.5rem;
    margin-bottom: 2.6rem;
    margin-top: 1rem;
    .swiper-slide {
      background: white;
      height: 15rem;
      padding: 1rem;
      position: relative;
      border-radius: 5px;
      box-sizing: border-box;
      //width: 12rem;
      //margin: auto;
      .coupon-bg {
        height: 7rem;
        background-size: cover;
        background-position: center;
      }
      .today:before {
        content: "";
        background: url(/sui_assets/img/upgrade/today.svg) left top no-repeat;
        padding: 12px 40px;
        margin-left: -7px;
      }
      .name {
        color: #D3A47B;
        font-size: .9rem;
        font-weight: bold;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
        text-align: center;
        padding: .5rem 0;
      }
      .limit {
        color: #5E5C5C;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
      }
    }
    .swiper-slide.add:after {
      content: "查看详情";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 3;
      color: #ACACAC;
      background: #EFEFEF;
      text-align: center;
      border-radius: 0 0 5px 5px;
    }

  }
  .box2 {
    background: url(/sui_assets/img/upgrade/title2.svg) center top no-repeat;
    padding-top: 2rem;
    .item {
      background: url(/sui_assets/img/upgrade/star1.svg) left top no-repeat;
      background-size: cover;
      //background-image: linear-gradient(to left, #030200, #252525);
      position: relative;
      text-align: center;
      padding: 1rem 3.5rem;
      margin: .5rem 0;
      .name {
        color: #FCE9D7;
        font-size: .85rem;
        line-height: 1.3;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
      }
      .addon {
        padding: .8rem;
        color: #6F6D6D;
      }
    }
    /* .item:before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       background: url(/sui_assets/img/upgrade/star1.svg) left top no-repeat;

     }*/
  }
  .box3 {
    margin: 2.6rem 2.4rem 3rem;
    border: 1px solid #BF8553;
    border-radius: 10px;
    padding: 1.3rem 1.5rem;
    text-align: center;
    color: white;
    position: relative;
    .item {
      background: url(/sui_assets/img/upgrade/star-liststyle.svg) left center no-repeat;
      padding: .5rem 0 .5rem 1.2rem;
      text-align: left;
      font-size: .75rem;
    }
  }
  .box3:after {
    content: " 权益使用详情可询问店员 最终解释权归本店所有";
    display: block;
    /* margin: 1rem 0; */
    position: absolute;
    bottom: -3rem;
    color: #4A4545;
    font-size: .65rem;
    width: 7.5rem;
    margin: auto;
    left: 0;
    right: 0;

  }
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    background: #212121;
    padding: 1px;
    .btn {
      margin: .7rem .9rem;
      border-radius: 5px;
      background-image: linear-gradient(94deg, #E4B658, #EFD578);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      color: #312D48;
      font-size: 1rem;
      font-weight: bold;
    }
    .rule-text {
      padding: 0 .85rem;
      .i-flex {
        background: url(/sui_assets/img/upgrade/star-liststyle.svg) left center no-repeat;
        padding: .8rem 0 .8rem 1.2rem;
        border-bottom: 1px solid #383838;
        color: white;
        font-size: .75rem;
        margin: 0;
        .btn {
          width: 4.5rem;
          margin: 0;
          margin-left: .5rem;
          height: 1.6rem;
          font-size: .7rem;
          line-height: 1.6rem;
        }
      }
      .close {
        background: url(/sui_assets/img/upgrade/close-icon.svg) center no-repeat;
        background-color: #211818;
        height: 54px;
        margin: -1px -1rem;
      }
    }
  }
}
