.upgrade {
  background: #030200;
  padding-bottom: 1px;
  height: 100%;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  .bg {
    //padding: 2rem 2rem 4rem;
    text-align: center;
    .name {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to bottom, #E7D79D, #CAAE64);
      font-size: 1.2rem;
      border-bottom: 1px solid #CEB36C;
      display: inline-block;
      margin: 1rem 0 .5rem;
      font-weight: bold;
    }
  }
  .box1 {
    background: url(/sui_assets/img/upgrade/title.svg) center top no-repeat;
    padding-top: 2.5rem;
    margin-bottom: 2.6rem;
    margin-top: 1rem;
    .swiper-slide {
      background: white;
      height: 15rem;
      padding: 1rem;
      position: relative;
      border-radius: 5px;
      box-sizing: border-box;
      .corn{
        background: url(/sui_assets/img/upgrade/corn.png) center top no-repeat;
        position: absolute;
        right: -24px;
        top: -6px;
        width: 87px;
        height: 51px;
        line-height: 50px;
        text-align: center;
        background-size: contain;
        transform: rotate(45deg);
      }
      .coupon-bg {
        height: 7rem;
        background-size: cover;
        background-position: center;
      }
      .today:before {
        content: "";
        background: url(/sui_assets/img/upgrade/today.svg) left top no-repeat;
        padding: 12px 40px;
        margin-left: -7px;
      }
      .name {
        color: #D3A47B;
        font-size: .9rem;
        font-weight: bold;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
        text-align: center;
        padding: .5rem 0;
      }
      .limit {
        color: #5E5C5C;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
      }
    }
    .swiper-slide.add:after {
      content: "查看详情";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 3;
      color: #ACACAC;
      background: #EFEFEF;
      text-align: center;
      border-radius: 0 0 5px 5px;
    }

  }
  .box2 {
    background: url(/sui_assets/img/upgrade/title2.svg) center top no-repeat;
    padding-top: 2rem;
    .item {
      background: url(/sui_assets/img/upgrade/star1.svg) left top no-repeat;
      background-size: cover;
      position: relative;
      text-align: center;
      padding: 1rem 3.5rem;
      margin: .5rem 0;
      .name {
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #FCE9D7;
        font-size: .85rem;
        line-height: 1.3;
      }
      .addon {
        padding: .8rem;
        color: #6F6D6D;
      }
    }
    /* .item:before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       background: url(/sui_assets/img/upgrade/star1.svg) left top no-repeat;

     }*/
  }
  .box3 {
    margin: 2.6rem 2.4rem 3rem;
    border: 1px solid #BF8553;
    border-radius: 10px;
    padding: 1.3rem 1.5rem;
    text-align: center;
    color: white;
    position: relative;
    .item {
      background: url(/sui_assets/img/upgrade/star-liststyle.svg) left center no-repeat;
      padding: .5rem 0 .5rem 1.2rem;
      text-align: left;
      font-size: .75rem;
    }
  }
  .box3:after {
    content: " 权益使用详情可询问店员 最终解释权归本店所有";
    display: block;
    /* margin: 1rem 0; */
    position: absolute;
    bottom: -3rem;
    color: #4A4545;
    font-size: .65rem;
    width: 7.5rem;
    margin: auto;
    left: 0;
    right: 0;

  }
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    background: #212121;
    padding: 1px;
    .modal-phone {
      background-color: #ACE2FF;
      padding: .5rem;
      margin: -1px;
      input {
        line-height: 2rem;
        height: 2rem;
        border: 1px solid #359BD1;
        border-radius: 5px;
        width: calc(100% - 3rem);
        padding: 0 .5rem;
        font-size: .75rem;
        color: #000;
        box-shadow: inset 0 1px 3px 0 #7CA1B5;
        background-color: #fff;
        position: relative;
        margin: .5rem;
        box-sizing: content-box;
      }
      .input-text {
        position: absolute;
        top: 1.3rem;
        right: 1.7rem;
        padding: .2rem .4rem;
        font-size: .5rem;
        color: #fff;
        box-shadow: 0 2px 0 0 #af0812;
        background-color: #ff4955;
        border: 1px solid #b41214;
        border-radius: 3px;
      }
      .v-button {
        background-image: linear-gradient(to bottom, #FAD961, #F7BD1C);
        padding: 0 .25rem;
        height: 2.4rem;
        font-size: .9rem;
        line-height: 2.4rem;
        text-align: center;
        border-radius: 5px;
        color: #640a00;
        font-weight: 700;
        margin: .5rem 1rem;
      }
    }
    .btn {
      margin: .7rem .9rem;
      border-radius: 5px;
      background-image: linear-gradient(94deg, #E4B658, #EFD578);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      color: #312D48;
      font-size: 1rem;
      font-weight: bold;
    }
    .rule-text {
      padding: 0 .85rem;
      .i-flex {
        background: url(/sui_assets/img/upgrade/star-liststyle.svg) left center no-repeat;
        padding: .8rem 0 .8rem 1.2rem;
        border-bottom: 1px solid #383838;
        color: white;
        font-size: .75rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        .btn {
          width: 4.5rem;
          margin: 0;
          margin-left: .5rem;
          height: 1.6rem;
          font-size: .7rem;
          line-height: 1.6rem;
        }
      }
      .close {
        background: url(/sui_assets/img/upgrade/close-icon.svg) center no-repeat;
        background-color: #211818;
        height: 54px;
        margin: -1px -1rem;
      }
    }
  }
}

.upgrade .box1 .swiper-slide .today:before {
  content: "";
  background: url(/sui_assets/img/upgrade/today.svg) left top no-repeat;
  padding: 12px 40px;
  margin-left: -7px;
}
.modal-overlay {
  position: fixed;
}
